{% extends 'account/base.html' %}
{% block title %}Payment Confirmation{% endblock title %}

{% block content %}
<div class="card custom-card text-white">
  <div class="card-body p-5">
    <h3 class="card-title mb-5">Package Details</h3>
    <p class="card-text">Buy {{coinpack.coins}} Coins with offer of {{coinpack.offer}}%</p>
    <p class="card-text">Real Price : ₹ {{coinpack.total_price}}</p>
    <form method="POST">
      {% csrf_token %}
      <p class = "card-text">Coupon Number(optional)</p>
      <input type="text" class="form-control bg-dark text-light" placeholder="Coupon" name="coupon">
      {% if error %}
        <p class = "text-danger fs-6"> {{error}} </p>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">Apply </button>
      </form>
      {% if details %}
        <h5 class ="fs-6 mt-1"> Coupon Used </h5>
        <p class = "fs-6"> Offer : {{details.coupon_offer}} </p>
        <p class = "fs-6"> You save : {{details.you_save}} </p>
      {% endif %}

    <h4 class="card-text my-4">Price to Pay : ₹{{amount}}  </h4>
    <div class="text-center py-3">
      {{form.render}}
      <a href="{% url 'coins' %}">
          <button class="btn btn-danger mt-3">Cancel </button>
      </a>
    </div>
  </div>
</div>
{% endblock  %}
