{% extends 'account/base.html' %}
{% block title %}Payment Failed{% endblock title %}
{% block content %}
<div class="card custom-card text-white">
    <div class="card-body p-5">
        <h3 class="card-title mb-5 bg-danger">Package Failed</h3>
        <p class="card-text">Your transaction to purchase {{pack.coins}} coins Failed</p>
        <p class="card-text text-danger font-weight-bold">₹ {{pack.price_after_offer}} , not debited</p>
        <h4 class="card-text my-4">Transaction status : Failed  </h4>
        <div class="text-center">
            <a href="{% url 'coins' %}">
                <button class="btn btn-danger">
                    Ok
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock  %}