{% extends 'user/base.html' %}

{% block content %}
<div class="container">
    <div class="row">

      {% for coin in coins %}
        <div class="col-md-3 mt-4">
          <div class="card bg-dark text-white p-3">
            <img src="/static/images/coins.jpg" class="card-img-top rounded" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title text-white text-center">{{coin.coins}} Coins</h5>
              <p>{{coin.offer}}%</p>
              {% if coin.price_after_offer == coin.total_price  %}
                  <p style="font-weight: bold;">  ₹{{coin.price_after_offer}}</p>
              {% else %}
                  <p style="font-weight: bold;">₹{{coin.price_after_offer}}  <span style="text-decoration: line-through;font-weight: normal;">₹{{coin.total_price}}</span></p>
              {% endif %}
            </div>
            <div class="text-center">
              <a href="{% url 'payment' coin.id %}">
                <button class="btn btn-secondary">Buy Coins</button>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
      
    </div>
  </div>

{% endblock  %}